*{
    margin:0px;
    padding:5px;
}
body{
 background-image:url(https://fsa.zobj.net/crop.php?r=WbqymJ_raJYg-NauEQZOPLIbZpLG7sEr9rF6Cv6011jaBexfeA3t6qIMyDCebAbs0dXL3PiPLaRKkrnuSyJtpsVGOzCbNOVSya7B4oQStmKDMWU9CfzpAYBekt-WDS7xyVp_Rt0q8lM0A2XY);
    background-size: 100% 103%;
    background-repeat:no-repeat;
    background-attachment:fixed ;
}
#profile{
    padding:0px;
    width:100%;
    margin-top:55px;
}
#name{
    position:fixed;
    
    z-index:1;
    width:100%;
    margin:-10px;
    border-radius:0px;
}
h1{
    font-family: "Brush Script MT", brush, Cursive;
}
#profileImg{
    border-radius:50%;
    margin-top:10px;
    height:100px;
    width:100px;
}
#profileImgIn{
    margin-left:82%;
    margin-bottom:10px;
    position:fixed;
    margin-top:-45px;
    border-radius:50%;
    height:30px;
    width:30px;
    z-index:4;
    opacity:0;
    animation: vis 1.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s); 
}
#about{
    margin-top:10px;
    margin-bottom:10px; 
}
#about p{
    color:#cccccc;
    text-indent: 50px;
    margin-left:10px;
    margin-right:10px;
    font-size:16px;
}
#myCodes{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    
}
#myCodes button{
    height:50px;
    width:80%;
    text-decoration:none;
    color:white;
    background-color:rgba(100,100,100,0.5);
    backdrop-filter:blur(10px);
    border:none;
    border-radius:20px;
    margin:10px;
}
#codes:hover
{
    height:50px;
    width:80%;
    text-decoration:none;
    color:white;
    background-color:rgba(138, 136, 136,0.5);
    backdrop-filter:blur(10px);
    border:none;
    border-radius:20px;
    margin:10px;
}
#languages{
    color:white;
    margin:10px;
    list-style-type:none;
}
#myLearnings{
    margin-top:10px;
    margin-bottom:10px;
    
}
progress{
    padding:0px;
    border-radius:10px;
    margin-bottom:10px;
}
progress::-webkit-progress-bar {
    background: rgba(5,5,5,0.5);
    backdrop-filter:blur(6px);
    height:15px;
    color:white;
    border-radius:5px;
}
progress::-webkit-progress-value {
    background: rgba(146, 224, 240, 0.7);
    border-radius:5px;
    color:white;
}
.background{
    background-color:rgba(50,50,50,0.6);
    backdrop-filter:blur(12px);
    border-radius:10px;
}
#follow{
    height:60px;
    width:85px;

}
#github{
    height: 50px;
    width: 50px;
}
#github:hover{
    background-color: #8a8888;
    transition-duration: 0.6s;
}
#follow:hover{
    background-color: #8a8888;
    transition-duration: 0.6s;
}
#followHolder{
    background-color: #575656;
}
#footer{
    list-style-type: none;
    display: inline-block;
}
#footer li{
    display: inline-block;
    align-content: center;
}
.copyright {
    text-decoration:none;
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
#profileName{
    margin-left:40px;
    animation: mov 1.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s); 
}
@keyframes mov{
  to {
      margin-left:-4px;
      font-size:20px;
      visibility:visible ;
  }
}
@keyframes vis {
  to {
      opacity: 2;
  }
}
